.vs/
packages/

WebApi/bin/
WebApi/obj/
WebApi/App_Data/

WebApi.Common/bin/
WebApi.Common/obj/

Database/bin/
Database/obj/
Database/Database.dbmdl

Tests/WebApi.Tests/bin/
Tests/WebApi.Tests/obj/
Tests/WebApi.Common.Tests/bin/
Tests/WebApi.Common.Tests/obj/


